.cliente{
    margin-top: 50px;
    min-height: 26vh;
    padding: 0%;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.rowOne{
    width: 100%;
    padding: 0;
    margin: 0;
}

.newCliente{
    background: rgba(255, 255, 255, 0.3);
}

.tituloNuevoCliente{
    padding-top: 9px;
}

.cardComponent{
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
}

.btnForm{
    padding-top: 9px;
}

.inputForm{
    margin-bottom: 8px;
}

.listUser{
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    padding: 0;
}